body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: #FF715B;
    font-weight: 600;
    text-align: center;
  font-size: 3rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    border-radius: 50%;
    background: linear-gradient(176deg, rgba(255, 246, 207, 1) 35%, rgba(254, 206, 122, 1) 100%);
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #FF715B;
}
